input:focus {
  border: none !important;
}

@media screen and (max-width: 800px) {
  .section-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.popup {
  position: fixed;
  top: -100px; /* Start hidden above the viewport */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #80d296;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: top 0.5s ease;
  font-size: 14px;
}

.show {
  top: 20px; /* Adjust as needed */
}
